.env
.env.ci
docker-compose.yml
data/mediawiki/conf/mw_local_settings/LocalSettings.php
data/mediawiki/conf/LocalSettings.php
data/mediawiki/favicon
data/mediawiki/favicon.old
.DS_Store
LocalSettings_lh.php
data/mediawiki/conf/robots.txt
data/mediawiki/conf/.htaccess
data/clamav/conf/clamd.conf
eicar.txt
eicar test file.txt
