<IfModule mod_rewrite.c>
RewriteEngine On
# Normale Desktop Short URL Umleitung
RewriteBase /
RewriteRule ^/index.php/(.*) /wiki/$1 [QSA,R=permanent]
RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/index.php
</IfModule>

Redirect /sitemap.xml /sitemap/sitemap-index-wiki.xml

php_value upload_max_filesize 100M
php_value post_max_size 100M
